.fa-home, .fa-coins, .fa-wallet {
    color: white;
    font-size: 15px;
    margin-right: 10px;
}.title{
    position: fixed;
    height: 3%;
    width: 100%;
    padding: 15px;
    text-align: left;
    list-style-type: circle;
    color: black;
    font-weight: 600;
    font-size: 17px;
}
.navigation{
    position: fixed;
    list-style-type: none;
    margin-top: 51px;
    width: 100%;
    padding: 0;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 30px;
    background: radial-gradient(to bottom, cyan, darkcyan, cyan);
    border-top: 1px solid darkcyan;
    border-bottom: 1px solid darkcyan;
}
.header-list {
    float: left;
    border-right: 3px double wheat;
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    padding: 7px 30px;
    text-decoration: none;
    cursor: pointer;
}
.active{
    background: linear-gradient(to bottom,black,black, black, black, yellow);
    color: white;
    font-weight: bold;
}