.close1 {
  position: absolute;
  top: 10px;
  font-size: 15px;
  right: 10px;
  cursor: pointer;
}
.fa-times {
  color: red;
}
.view {
  border-radius: 50px;
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  background:linear-gradient(to bottom, darkcyan,darkcyan, darkcyan, darkcyan, cyan);
  color: white;
  font-weight: bold;
  padding: 5px 12px;
  cursor: pointer;
}
.view:hover {
    background: linear-gradient(to bottom, black, black, black, black, black, yellow);
}
.container {
  display: none;
  overflow-x: auto;
  position: fixed;
  width: 64%;
  height: 73%;
  left: 30%;
  background-color: white;
  transition: 0.5s;
  top: 22%;
  border: 1px solid #aaa;
}
.report-y, .report-m {
  float: left;
  width: 80%;
  margin-top: 2%;
  margin-left: 10%;
  font-weight: bold;
}
.report-m {
  display: none;
  position: absolute;
  margin-left: 31px;
  margin-top: 5px;
  width: 20%;
}
.report-2 {
  overflow-x: auto;
  margin-left: 0;
  width: 98%;
  height: 80%;
}
.current {
  margin-top: 5%;
  margin-bottom: 8%;
  width: 70%;
}
.total-expenditures {
  margin-top: 4%;
  margin-left: 12%;
  font-weight: bold;
  width: 80%;
}
.total-expense, .total-budget, .remaining-budget, .excess-expense {
  border: 1px solid black;
  padding: 6px 50px;
  width: 100%;
  background-color: lightyellow;
}
.total-budget-m, .remaining-budget-m, .excess-expense-m {
  border: 1px solid black;
  padding: 6px 50px;
  width: 100%;
  background-color: lightyellow;
}
.expense-category, .expense-transaction, .expense-budget {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20%;
  background-color: white;
}
.expense-transaction, .expense-budget {
  display: none;
}
.category:hover {
  background-color: lightcyan;
  cursor: default;
}
.amount:hover {
  background-color: lightcyan;
  cursor: default;
}
.expense-category-table, .expense-transaction-table, .expense-budget-table {
  width: 100%;
  background-color: #eee;     
}
.expense-report-table {
  width: 90%;
  margin-top: 2%;
  margin-left: 7%;
}
.expense-category-tr th, .expense-transaction-tr th, .expense-budget-tr th, .expense-report-tr th {
  border: 1px solid #aaa;
  border-radius: 12px;
  height: 40px;
}
.expense-category-tr, .expense-transaction-tr, .expense-budget-tr, .expense-report-tr {
  height: 30px;
  color: black;
  font-size: 12px;
  padding: 8px;
  text-transform: uppercase;
  text-align: center;
  background-color: white;
}
.expense-category-th, .expense-transaction-th, .expense-budget-th, .expense-report-th {
  height: 30px;
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: white;
  font-weight: bold;
  background: radial-gradient(to bottom, cyan, darkcyan, cyan);   
}

#myModal {
  display: none;
  position: fixed;
  width: 60%;
  z-index: 1040;
  top: 7%;
  left: 17%;
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  height: 75%;
  padding: 35px 50px;
}
.modal-title {
  margin-top: 0;
}
.modal-backdrop {
  background-color: transparent;
  height: 100%;
  width: 100%;
}
.modal-backdrop-transparent {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.modal-transition {
  transition: all 1.4s ease;
}
.modal-left {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  padding: 10px 0px;
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  float: left;
  width: 30%;
  height: 410px;
}
.modal-right {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  padding: 10px 0px;
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  margin-left: 35%;
  height: 410px;
}
.column:after {
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  display: flex;
  clear: both;
}
